body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

body #page-container {
  margin-top: 150px;
  margin-bottom: 40px; }

#main-content {
  background-color: rgba(250, 250, 150, 0.7); }

h1 {
  color: Red; }

#api-link {
  font-size: 20px; }

#api-link:hover {
  Color: red; }

h3 {
  color: blue; }

p2 {
  font-size: 18px; }

#txt-content {
  white-space: pre;
  text-align: left; }

#txt-container {
  background-color: rgba(250, 250, 250, 0.7); }
